<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="icon" type="image/png" href="./img/favicon.png"/>
  </head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async rel="preconnect" src="https://www.googletagmanager.com/gtag/js?id=UA-128032414-1"></script>
  <script async rel="preconnect">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-128032414-1');
  </script>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
  {% set css %}{% include "../../css/index.css" %}{% endset %}
  <style lazyload>
    {{ css | cssmin | safe }}
  </style>
    {% set css %}{% include "../../css/prism-base16-monokai.dark.css" %}{% endset %}
  <style lazyload>
    {{ css | cssmin | safe }}
  </style>
</html>
